{% extends "base.html" %}
{% block header %}

{% endblock %}
{% block title %}VANS.id{% endblock %}
{% block content %}
<div class="container">
<center>
<div class="card" style="width: 40rem;">
  <img class="card-img-top" src="{{ url_for('static', filename='img/AUTHENTIC.jpg') }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">AUTHENTIC</h5>
    <p class="card-text"> AUTHENTIC</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">available sizes 40 / 41 / 42 / 43 / 44 </li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Shopping cart</a>
    <a href="#" class="card-link">Order link</a>
  </div>
</div>
</center>

  <center>
<div class="card" style="width: 40rem;">
  <img class="card-img-top" src="{{ url_for('static', filename='img/SLIPON.jpg') }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">SLIP ON</h5>
    <p class="card-text"> SLIP ON </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">available sizes 40 / 41 / 42 / 43 / 44 </li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Shopping cart</a>
    <a href="#" class="card-link">Order link</a>
  </div>
</div>
</center>

  <div class="container">
  <center>
<div class="card" style="width: 40rem;">
  <img class="card-img-top" src="{{ url_for('static', filename='img/SK8.jpg') }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">SK8</h5>
    <p class="card-text"> SK8 </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">available sizes 40 / 41 / 42 / 43 / 44 </li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Shopping cart</a>
    <a href="#" class="card-link">Order link</a>
  </div>
</div>
</center>
{% endblock %}